@import "materialize-css/sass/materialize";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";

/* Materialize's css rules for a stcky footer */
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

/* footer styling */
footer p {
  font-size: 0.75em;
  padding: 0px;
  margin: 0px;
}


footer.page-footer {
  /* margin and padding should be the same */
  padding-top: 5px;
  div.row.right {
    margin-bottom: 5px;
  }
}
