@import "materialize-css/sass/materialize";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";

/* Materialize's css rules for a sticky footer */
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}


main {
  flex: 1 0 auto;
}

main * {
  color: white; 
}


/* Work Stylings */
.work-box {
  margin-bottom: 30px;
}

.work-content {
  margin-bottom: 10px;
}

/* About Me Stylings */
#about-me .row {
  margin-top: 40px;
  margin-bottom: 20px;
}

#about-me .row {
  min-height: 100px;
}

#about-me .col ul li {
  padding-left: 20px;
  list-style-type: disc;
  list-style-position: inside;  
  color: white;

  /* Nested ul */
  ul {
    padding-left: 10px;
    li {
      list-style-type: circle;
      list-style-position: inside;  
      color: white;
    }
  }
}

/* Contact modal styling */ 
.modal-content {
  
  h6 {
    margin: 4px 0px;
  }

  p {
    margin: 8px 0px;
    font-size: 0.8em;
  }
}


/* footer styling */
footer p {
  font-size: 0.75em;
  padding: 0px;
  margin: 0px;
}

.flex-col-wrap {
  display: flex;
  flex-wrap: wrap;
}


footer.page-footer {
  /* margin and padding should be the same */
  padding-top: 5px;
  div.row.right {
    margin-bottom: 5px;
  }
}
