<div id="internships">
	<div class="row">
		<h3>Internships:</h3>
	</div>

	<% 5.times do |i| %>
		<div class="row">
			<% if i % 2 == 0%>
				<div class="work-box col m10 s12 red lighten-1 left">
			<% else %>
				<div class="work-box col m10 s12 red lighten-1 right">
			<% end %>
			
				<div class="work-content">
					<h5>Title <%= i %></h5>
					<div class="divider"></div>
					<h6>Business/Organization: <%= BetterLorem.w 5, true %></h6>
					<h6>Date: May 2018 - August 2018 </h6>		
					<div class="divider"></div>
					<p>Description: <%= BetterLorem.p 2, true %></p>
					<div class="divider"></div>
					<p>Technologies Utilizied: <%= BetterLorem.w 12, true %></p>
				</div>
			</div>
		</div>
	<% end %>
</div>