<!-- Button Dropdown -->


<nav class="red">

<ul id="work-dropdown" class="dropdown-content">
	<li><a href="#!">Internships</a></li>
	<li><a href="#!">Projects</a></li>
</ul>
	<div class="nav-wrapper">
	  <a href="#" class="brand-logo right">Portfolio</a>
	  <ul id="nav-mobile" class="left hide-on-med-and-down">
	    <li>
	    	<a class="dropdown-trigger" href="#!" data-target="work-dropdown">Work<i class="material-icons right">arrow_drop_down</i></a>
	    </li>
	    <li><a href="#">Extracurricular Activities</a></li>
	    <li><a href="#">About Me</a></li>
	    <li><a href="#">Contact</a></li>
	  </ul>
	</div>
</nav>
