<!-- Button Dropdown -->


<nav class="red">
	<div class="nav-wrapper">
        <a class="brand-logo hide-on-med-and-down">David Levine - Professional Portfolio</a>
        <ul class="nav-mobile right">
        	<li><%= link_to "Resume", "https://www.dropbox.com/s/4xnm2oosu4rib4h/Levine-David_UpdatedResume.docx?dl=0" %></li>
        	<li><a href="#contact-form" class="modal-trigger">Contact</a></li> 
        </ul>
	</div>
</nav>
