<!-- Button Dropdown -->


<nav class="red">
	<div class="nav-wrapper">
        <a class="brand-logo">David Levine - Professional Portfolio</a>
        <ul class="nav-mobile right">
        	<li><a href="#">Resume</a></li>
        	<li><a href="#contact-form" class="modal-trigger">Contact</a></li> 
        </ul>
	</div>
</nav>
