---
title: About Me - David Levine
---

<div id="about-me" class="container">
	<div class="row red lighten-1">
		<div class="col m4 s12">
			<h4>Academics</h4>
			<div class="divider"></div>
		</div>
		<div class="col m8 s12">
			<ul>
				<li>Senior at The Ohio State University</li>
				<li>Studying Computer Science Engineering</li>
				<li>Expected graduation date: Fall 2019</li>
				<li>Cumulative GPA (as of Fall 2018): 3.716</li>
			</ul>
		</div>
	</div>
	<div class="row red lighten-1">
		<div class="col m4 s12">
			<h4>Career Interests</h4>
			<div class="divider"></div>
		</div>
		<div class="col m8 s12">
			<ul>
				<li>Software Development</li>
				<li>Machine Learning/AI</li>
			</ul>
		</div>
	</div>
	<div class="row red lighten-1">
		<div class="col m4 s12">
			<h4>Hobbies</h4>
			<div class="divider"></div>
		</div>
		<div class="col m8 s12">
			<ul>
				<li>Running:
					<ul>
						<li>Long distance runner</li>
						<li>Usually train for one full marathon a year</li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</div>