---
title: David Levine - Development and More
---

<div id="landing-page" class="container">
	<div class="row"> 
		<div class="col s12">
			<h1 class="center-align text-white">David Levine - Professional Portfolio</h1>
			
		</div>
	</div>
	<div class="row"> 
		<div class="col l12">
			<div class="carousel">
			    <a class="carousel-item" href="#one!"><%= tag :img, src: :"/images/LandingPage/udri.png" %></a>
			    <a class="carousel-item" href="#two!"><%= tag :img, src: :"/images/LandingPage/engr1182.jpg" %></a>
			    
  			</div>
		</div>
	</div>
	<div class="row">
		<div class="col s12 center-align">
			<a class="waves-effect waves-light btn-large red">View Resume</a>
		</div>
	</div>
</div>